<app-sabw-caesar></app-sabw-caesar>
 
      <h1>Allgemeines</h1>
      <p>Die Vigenère-Verschlüsselung ist ein symmetrisches Verschlüsselungsverfahren. Wenn man einen sehr kurzen Text verschlüsselt übermitteln möchte, ist dieser beinahe
         unbrechbar. Je länger jedoch der Text ist, desto einfacher kann man die Verschlüsselung brechen.</p>
      <h1>Ver- und Entschlüsseln</h1>
      <h2 id="rolf">Verschlüsseln</h2>
      <ol>
        <li>Schlüssel erstellen, z.B. A=bfog</li>
        <li></li>
      </ol>
      <h2>Entschlüsseln</h2>
      <h1>Brechen</h1>
      <p>&auml;</p>
 