h1  {
     color: red;
}
#rolf {
     color: blue;
     width: 50px;
     transform: rotate(23deg);
  }
  #Scheibe{
    width: 300px;
     position: 
    absolute;
  }
  #scheibe_innen {
    width: 300px;
    t
    position: 
    absolute;
   /* transform: rotate(318.46deg);*/
  }
  #container{
    height: 300px;
  }